.Button {
  background-color: var(--primary-main);
  border: 1px solid var(--primary-dark);
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: var(--text-secondary);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 40px;
  letter-spacing: normal;
  min-width: 150px;
  padding: 10px 20px;
  text-align: center;

  &:disabled {
    background: var(--disabled);
    border-color: var(--primary-main);
    color: var(--text-main);
  }

  > p {
    margin: 0;

    svg {
      height: 15px;
      margin-right: 10px;

      path,
      rect,
      polygon {
        fill: currentColor;
      }
    }
  }
}
