.Scores {
  display: flex;
  flex: 1;
  flex-direction: column;

  .table {
    flex: 1;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
  }
}

.Story {
}
